.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.BoardContainer {
  height: 50vh;
}
.Board {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto; 
}

.cell {
  position: absolute;
}

.cellControl {
  width: 50px;
  height: 50px;
}

.false {
  background: #999;
  border: 1px solid #999;
}

.true {
  background: #333;
  border: 1px solid #333;
}